/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
*{

  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #39A6E8;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

h1{
  color: #fff;
  font-size: 29px;
}

h2{
  color: #fff;
  font-size: 24px;
}

h3{
  color: #262522;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

a{
  color: #EB7F00;
  text-decoration: none;
}

#page {
width: 100%;
margin: 0 auto;
max-width: none;
   
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left;
  height: 125px; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
 
  vertical-align: bottom;
  margin-left: 179px;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #fff;
  display: none;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

/*
 * Content
 */

#content {

}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/**************************HOME PAGE*****************************************************************/

#field-content {
  font-size: 25px;
  color: #fff;
}

 #nav {
  position: fixed;
  right: 20px;
  top: 50px;
  z-index: 100;
}

.panels-flexible-row-1-1 {
  background: #39A6E8;
}

.panels-flexible-row-1-2 {
  background: #00517A;
}

.panels-flexible-row-1-4 {
  background: #2C89D6;
}
.panels-flexible-row-1-5 {
  background: #F1F4F9;
}

.panels-flexible-row-inside {
  margin: 0 auto;
  width: 960px;
}

.views-field-field-slogan{
  color: #fff;
  font-size: 38px;
  line-height: 44px;
}
.panels-flexible-region-1-tagline_{
  float: none;
  width: auto;
}

 .views-field-field-logo-image .field-content{
  margin-top: -275px;
}

.pane-block-12 .pane-content p{
  color: #fff;
}

#views_slideshow_cycle_teaser_section_testimonials-default p{
  padding: 30px;
  margin-left: 124px;
  margin-top: -150px;
}

#views_slideshow_cycle_main_testimonials-default p{
  background: url("../images/quote-1.png") no-repeat scroll 2px 10px transparent!important; 
}

#views_slideshow_cycle_main_testimonials-default {
  background: url("../images/quote-2.png") no-repeat scroll 256px 255px transparent;
}

#views_slideshow_cycle_main_testimonials-default {
  background-color: #fff;
  border-radius: 40px;
  float: right;
  height: 291px;
  line-height: 29px;
  margin: -15px;
  margin-bottom: 30px;
  margin-top: 28px;
  width: 445px;
}

#views_slideshow_cycle_main_testimonials-default p{
  color: #000;
  margin-top: -87px;
}

#block-block-11 p{
  font-size: 25px;
  color: #fff;
}
.field-content{
  margin-top: 32px;
}

#edit-submitted-name{
  padding: 4px;
  width: 350px;
  
}

#edit-submitted-email{
  padding: 4px;
  width: 350px;
}

#edit-submitted-subject{
  padding: 4px;
  width: 350px;
}

#edit-submitted-message{
  padding: 4px;
  width: 360px;
}

.grippie{
  width: 360px;
}

#edit-submit{
  background: #002757;
  color: #30AB05;
  padding: 6px;
  width: 364px;
}

#edit-name{
  height: 30px;
  width: 30%
}

#edit-pass{
  height: 30px;
  width: 30%
}

#block-block-14 p img {
width: 140px;
margin-top:-111px
}

.views-row{
  margin-top: 49px;
}

#nav li{
  list-style: none;
  width: 140px;
}

#nav a{
  color: #92c6e4;
  display: block;
  font-size: 16px;
  padding-right: 30px;
  margin: 15px 0;
  text-align: right;
}

#nav a:hover,
#nav .current a{
  color: #fff;
}

#nav .home{
  background: url("../images/sprite-nav.png") no-repeat scroll 115px 3px transparent;
}

#nav .home:hover,
#nav .current .home{
  background: url("../images/sprite-nav.png") no-repeat scroll right 3px transparent;
}

#nav .client-link{
  background: url("../images/sprite-nav.png") no-repeat scroll 115px -38px transparent;
}

#nav .client-link:hover,
#nav .current .client-link{
  background: url("../images/sprite-nav.png") no-repeat scroll right -38px transparent;
}

#nav .services-link{
  background: url("../images/sprite-nav.png") no-repeat scroll 115px -74px transparent;
}

#nav .services-link:hover,
#nav .current .services-link{
  background: url("../images/sprite-nav.png") no-repeat scroll right -74px transparent;
}

#nav .contact-link{
  background: url("../images/sprite-nav.png") no-repeat scroll 115px -117px transparent;
}

#nav .contact-link:hover,
#nav .current .contact-link{
  background: url("../images/sprite-nav.png") no-repeat scroll right -117px transparent;
}

.testimonial-pic  a img {
  border-radius: 150px;
  margin-left:-46px;
  height: 79px;
  padding: 16px;
  margin: -44px;

}
.section-class img {
  border: 2px solid #000;

}

.field-contenttest-body {
  background: url("../images/quote-2.png") no-repeat scroll 0px 0px transparent;
}

.views-field-body{
  float: left;
  width: 400px;
}

.views-field-body p{
  color: #fff;
}

/********** MAP **********/

.panels-flexible-row-1-5 .panels-flexible-row-inside {
  position: relative;
  width: auto;
  margin: 0;
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding: 0;
}

.panels-flexible-region-1-map {
  float: none;
  width: auto;
}

.panels-flexible-region-inside {
  padding: 0;
}

.panels-flexible-region-1-contact_us {
  background: none repeat scroll 0 0 #C7D2D9;
  position: absolute;
  right: 170px;
  top: 0;
  float: none;
  width: auto;
}

.webform-component-textfield label{
  position: absolute;
  margin: 6px;
}

.webform-component-email label{
  position: absolute;
  margin: 6px;
}
.webform-component-textarea label{
  position: absolute;
  margin: 6px;
}